<h3 class="text-center">Search for Stationfare</h3>

<div class="m-5 d-grid gap-3">
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input
          formControlName="from"
          type="text"
          placeholder="From"
          class="form-control"
        />
        <label class="text-primary form-label">From</label>
      </div>
    </div>
    <div class="col">
      <div class="form-floating">
        <input
          formControlName="destination"
          type="text"
          placeholder="Destination"
          class="form-control"
        />
        <label class="text-primary form-label">Destination</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-end">
      <button (click)="search()" type="submit" class="btn btn-primary">
        <i class="fa-solid fa-magnifying-glass"></i> Search
      </button>
    </div>
  </div>
</div>

<div *ngFor="let fare of fares">
  <div class="card text-dark mt-5 text-center">
    <div class="card-body" style="padding: 20px; background-color: #e5ecf26e">
      <h6 class="card-title">MRT 3</h6>
      <div class="card-title" style="color: #ff3939">Single Journey Ticket</div>

      <div class="d-grid text-center g-2">
        <div class="row">
          <div class="col">
            <div class="col m-3">
              <i class="fa-solid fa-plane-departure"></i>
            </div>
            <div class="col">
              <i class="fa-solid fa-location-dot"> {{ fare.from }}</i>
            </div>
          </div>

          <div class="col">
            <div class="d-flex">
              <i
                class="fa-solid fa-circle"
                style="margin-top: 50px; font-size: 9px"
              ></i>
              <hr style="display: block; width: 100%; margin-top: 55px" />
              <i class="fas fa-plane" style="margin-top: 48px"></i>
            </div>
            <i class="fa-solid fa-peso-sign">{{ fare.price }}</i>

            <br />
            <a
              routerLink="/buy-ticket/{{ fare.id }}"
              class="btn btn-secondary btn-lg mt-2"
            >
              <i class="fas fa-ticket"></i> Buy Ticket
            </a>
          </div>

          <div class="col">
            <div class="col m-3">
              <i class="fa-solid fa-plane-arrival"></i>
            </div>
            <div class="col">
              <i class="fa-solid fa-location-dot"> {{ fare.destination }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
