<form [formGroup]="registerForm">
  <div class="container d-grid gap-3" style="max-width: 700px">
    <div class="form-floating">
      <input
        formControlName="username"
        class="form-control"
        type="text"
        placeholder="username"
      />
      <label class="form-label" for="username">Username</label>

      <div
        *ngIf="
        registerForm.controls?.['username']?.invalid &&
        (registerForm.controls?.['username']?.dirty || registerForm.controls?.['username']?.touched)
      "
        class="invalid-feedback d-block"
      >
        <div *ngIf="registerForm.controls?.['username']?.errors?.['required']">
          username is required.
        </div>
        <div *ngIf="registerForm.controls?.['username']?.errors?.['minlength']">
          username must be at least 4 characters long.
        </div>
        <div *ngIf="registerForm.controls?.['username']?.errors?.['maxLength']">
          username must be at most 40 characters long.
        </div>
      </div>
    </div>

    <div class="form-floating">
      <input
        formControlName="email"
        placeholder="Email"
        class="form-control"
        type="email"
      />
      <label for="email">Email</label>
      <div
        *ngIf="
      registerForm.controls?.['email']?.invalid &&
      (registerForm.controls?.['email']?.dirty || registerForm.controls?.['email']?.touched)
    "
        class="invalid-feedback d-block"
      >
        <div *ngIf="registerForm.controls?.['email']?.errors?.['required']">
          email is required.
        </div>
        <div *ngIf="registerForm.controls?.['email']?.errors?.['minlength']">
          email must be at least 4 characters long.
        </div>
        <div *ngIf="registerForm.controls?.['email']?.errors?.['maxLength']">
          email must be at most 40 characters long.
        </div>
      </div>
    </div>

    <div class="form-floating">
      <input
        formControlName="password"
        class="form-control"
        type="text"
        placeholder="password"
      />
      <label class="form-label" for="password">Password</label>

      <div
        *ngIf="
      registerForm.controls?.['password']?.invalid &&
      (registerForm.controls?.['password']?.dirty || registerForm.controls?.['password']?.touched)
    "
        class="invalid-feedback d-block"
      >
        <div *ngIf="registerForm.controls?.['password']?.errors?.['required']">
          password is required.
        </div>
      </div>
    </div>

    <div>
      <input
        formControlName="isFemale"
        class="form-check-input"
        [value]="true"
        type="radio"
      />
      <label class="ms-2 form-check-label" for="isFemale">Female</label>
    </div>
    <div>
      <input
        formControlName="isFemale"
        class="form-check-input"
        [value]="false"
        type="radio"
      />
      <label class="ms-2 form-check-label" for="isFemale">Male</label>
    </div>
  </div>
  <div class="d-flex justify-content-center center">
    <button (click)="register()" type="submit" class="btn btn-primary">
      Login <i class="fa fa-sign-in"></i>
    </button>
    <!-- <button (click)="cancel()" class="btn btn-outline">
      Cancel <i class="fa fa-sign-in"></i>
    </button> -->
  </div>
</form>
